@import 'variables/colors';
@import 'variables/cssMap';

.#{$tmBoxClass} {
  background: $tmBoxBackground;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  padding: 2em;
  position: absolute;
  border-radius: 0.5em;
  max-width: 90%;

  &-outer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $tmBoxOuterBackground;
    z-index: 10000000;
    text-align: center;
    font-size: 1rem;
  }

  &-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.66em;
  }

  &-message, &-special {
    margin-bottom: 1em;
  }

  .#{$tmBoxClass}-input {
    padding: 0.2em 0.33em;
  }

  .#{$tmBoxClass}-buttons {
    text-align: center;

    > button {
      margin-right: 0.5em;
      cursor: pointer;
      background-color: $tmBoxBtnColor;
      border: 1px solid $tmBoxBtnBorder;
      border-radius: 4px;
      color: $tmBoxBtnFont;
      padding: 0.33em 1em;
      outline: 0;
    }

    > button:hover {
      background-color: darken($tmBoxBtnColor, 10%);
      border-color: darken($tmBoxBtnColor, 10%);
    }

    > button:last-child {
      margin-right: 0;
    }
  }
}